<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
  google.charts.load("current", { packages: ["timeline"] });
  google.charts.setOnLoadCallback(drawChart);

  function addRow(rows, name, expr, t)
  {
    var head = name + ' | ' + expr;
    {{ if gt .offset 0 }}
    head += ' +{{ .offset }}h';
    {{ else if lt .offset 0 }}
    head += ' {{ .offset }}h';
    {{ end }}
    rows.push([head, t, t])
  }

  function drawChart()
  {
    var container = document.getElementById('timeline');
    var chart = new google.visualization.Timeline(container);
    var dataTable = new google.visualization.DataTable();

    dataTable.addColumn({ type: 'string', id: 'Name' });
    dataTable.addColumn({ type: 'date', id: 'Start' });
    dataTable.addColumn({ type: 'date', id: 'End' });

    var rows = [];

    {{ range $name, $row := .schedule }}
      {{ range $_, $t := $row.Times }}
    addRow(rows, '{{ $name | js }}', '{{ $row.Expr | js }}', new Date({{ $t.Year }}, {{ $t.Month | monthn }}, {{ $t.Day }}, {{ $t.Hour }}, {{ $t.Minute }}));
      {{- end }}
    {{- end }}

    dataTable.addRows(rows);

    var options = {
      hAxis: {
        format: 'H:mm\nEE, d'
      },
      timeline: {
        tooltipDateFormat: 'H:mm'
      }
    };

    chart.draw(dataTable, options);
  }
</script>

<div id="timeline" style="height: 100%;"></div>
