name: test
on:
  pull_request:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: ">=1.19.2"
      - uses: golangci/golangci-lint-action@v3
      - run: make
